/* img{
     width: 200px;
     }

  #titulo {
      color: green;
  }
  
  .texto {
      color: red;
  }*/

body {
  margin: 0px;
}
.exemplo {
        background-color: black;
        width: 100%;
        height: 100px;


}
* {
    box-sizing: border-box;

}
/**
.link {
  color: green;
  font-size: 30px;

}
.link:hover{            
    color: red;  *Ao passar mouse sobre o link, ele muda de cor para RED*
    

}
.link:visited{      *Link mudar de cor após ser visitado*  
    color: pink;    
} */
p {
    color: blue;
    font-size: 30px;
    /*font-weight: bold;*/
    font-family: 'Chilanka', cursive;  /*Fonte adicionada do google fontes*/
    text-align: left;
  }
/*

a {
    text-decoration: none; *Tira o sublinhado do link*
}

a:hover {                     *Ao passar o mouse no link, este fica sublinhado* 
    text-decoration: underline;
}
*/

table {
        width: 600px;
}
table thead {
    background-color: #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
tbody tr:hover {
    background-color: #eee;
}
tbody tr:nth-child(even) {
    background-color: #eee;
}
.teste {            /*propriedades padroes da DIV teste*/
    width: 600px;
    height: 300px;
    background-color: red;
}   

/*
@media only screen and (max-width:500px) {  *qdo a largura da tela tiver no max 500px,alterar
    para as propriedades abaixo* 
    .teste {
        background-color: green;
    }
    

} */

@media only screen and (max-width:500px) { /*qdo a largura da tela tiver no max 600px, alterar
o tamanho da DIV para 200px, conforme abaixo*/
    .teste {
        width: 200px;
    }