/* img{
     width: 200px;
     }

  #titulo {
      color: green;
  }
  
  .texto {
      color: red;
  }*/

body {
  margin: 0px;
}
.exemplo {
  border: 1px solid greenyellow;
  padding: 20px;
}
hr {
    margin: 0px;
}
